body {
    background:lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: darkblue;
    max-width: 720px;
}

h1 {text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

h2, h5 {
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:greenyellow;
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: darkblue;
    max-width: 720px;
}

p {
    max-width: 680px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    text-justify: inter-word;
    font-size:larger;
    text-shadow: 1px 1px;
}

span {
    padding-left: 20px;
    font-size: larger;       
}

summary {    
    font-size: 1.5rem;
    margin-left: 20px;
}

svg {
    padding: 10px;
    margin: 10px;
    border: solid olive 3px;
    border-radius: 10px;
}

svg:hover {
    border-bottom: solid red 10px;
}


label, #game-length {
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
}

#diagram {
    border: solid olive 2px;
}

#draw {
    font-size: 1.2rem;
    background-color: darkolivegreen;
    color: beige;
    text-align: right;
}

#game-length, #remove-well {
    background-color: darkblue;
    color: white;
    font-size: larger;
}

#icons, #reply {
    text-align: center;
    margin-left: auto;
    margin-left: auto;    
}

#lost {
    font-size: 1.2rem;
    background-color: brown;
    color: beige;
    text-align: right;
}

#nav-bar {
    list-style-type: none;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar-item {
    display: inline-block;
    margin-right: 20px;
}

#remove-well{
    margin-left: 20px;
}

#repeat {
    text-align: right;
}

#reply1 svg {
    border: solid darkorange 4px;
    width: 90px;
    height: 80px;
}

#reply1 svg:hover {
    border-bottom: solid olive 5px;
}

details, select, #rock, #paper, #scissors, #well, #remove-well {
    cursor: pointer;
}

#total {
    text-align: center;
    font-size: 3rem;
}

#won {
    font-size: 1.2rem;
    background-color: darkblue;
    color: beige;
    text-align: right;
}

/*Media query*/
      @media only screen and (max-width: 680px) {
        h1 {          
          font-size: 3rem;
        }
      }

      @media only screen and (max-width: 520px) {
        h1 {          
          font-size: 2rem;
        }
      }