body {
    background:lemonchiffon;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: darkblue;
    max-width: 720px;
}

h1, h2 {
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:greenyellow;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: darkblue;
    max-width: 720px;
}

p {
    max-width: 680px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    text-justify: inter-word;
    font-size:x-large;
    text-shadow: 1px 1px;
}

summary {    
    font-size: 1.5rem;
    margin-left: 20px;
}

svg {
    padding: 20px;
    margin: 20px;
    border: solid olive 3px;
    border-radius: 10px;
}

svg:hover {
    border: solid red 5px;
}


label, #game-length {
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
}

#diagram {
    border: solid olive 2px;
}

#game-length {
    background-color: darkblue;
    color: white;
}

#icons, #reply {
    text-align: center;
    margin-left: auto;
    margin-left: auto;    
}

#nav-bar {
    list-style-type: none;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav-bar-item {
    display: inline-block;
    margin-right: 20px;
}

#repeat {
    text-align: right;
}

#total {
    text-align: center;
    font-size: 3rem;
}